# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/divers

/public/screenshoots/Burrowork_2.png
/public/screenshoots/Burrowork_3.png
/public/screenshoots/Burrowork_4.png

/public/screenshoots/Bi-Finance2.png
/public/screenshoots/BI-Logistique.png
/public/screenshoots/BI-Logistique1.png
/public/screenshoots/BI-Ventes.png

/public/screenshoots/Creuse_2.png

/public/screenshoots/Nantesflem_1.png
/public/screenshoots/Nantesflem_2.png
/public/screenshoots/Nantesflem_3.png
/public/screenshoots/Nantesflem_4.png

/docs/outils_projet.md